<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Pandas for Exploratory Data Analysis

_Authors: Kevin Markham (DC)_

---

## LEARNING OBJECTIVES

## Pandas

In [ ]:
import pandas as pd

### Reading Files, Selecting Columns, and Summarizing

In [46]:
# read 'u.user' into 'users'
users = pd.read_table('../Data/user', sep='|')

**Examine the users data**

Pandas DataFrames are Pandas class objects and there for come with several attributes and methods to easily extract information.

In [ ]:
users                   # print the first 30 and last 30 rows

In [ ]:
type(users)             # DataFrame

In [ ]:
users.head()            # print the first 5 rows

In [ ]:
users.head(10)          # print the first 10 rows

In [ ]:
users.tail()            # print the last 5 rows

In [ ]:
 # "the index" (aka "the labels")
users.index

In [ ]:
# column names (which is "an index")
users.columns

In [ ]:
# data types of each column
users.dtypes

In [ ]:
# number of rows and columns
users.shape

In [ ]:
# underlying numpy array
users.values

In [ ]:
# concise summary (including memory usage)
users.info()

** Selecting or indexing data**
Pandas Dataframes have structures that have similarities with both python style lists and dictionaries.  
In the example below, we select a column of data using the name of the column in a similar manner to how we select a dictionary value with the dictionary key.

In [ ]:
# select a column
users['gender']

In [ ]:
# pandas columns are pandas type series
type(users['gender'])

In [ ]:
# select one column using the DataFrame attribute
users.gender            

# while a useful shorthand, having punctuations or spaces in your column
# names can negate the ability to use this attribute.

**summarize (describe) the data**
Pandas has a bunch of built in methods to quickly summaraize your data and provide you with a quick general understanding.

In [ ]:
# describe all numeric columns
users.describe()

In [ ]:
# describe all object columns (can include multiple types)
users.describe(include=['object'])

In [ ]:
# describe all columns, including non-numeric
users.describe(include='all')

In [ ]:
# describe a single column
users.gender.describe()

In [ ]:
# only calculate the mean             
users.age.mean()

**Count the number of occurrences of each value**

In [ ]:
users.gender.value_counts()     # most useful for categorical variables

In [ ]:
users.age.value_counts()       # can also be used with numeric variables

### EXERCISE ONE

In [4]:
# read drinks.csv into a DataFrame called 'drinks'
import pandas as pd
drinks = pd.read_csv('../Data/drinks.csv')

In [5]:
# print the head and the tail
drinks.head()

drinks.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [8]:
# examine the default index, data types, and shape

print drinks.index

print drinks.dtypes

print drinks.shape

RangeIndex(start=0, stop=193, step=1)
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object
(193, 6)

In [9]:
# print the 'beer_servings' Series

drinks['beer_servings']
#or
drinks.beer_servings

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, dtype: int64

In [10]:
# calculate the average 'beer_servings' for the entire dataset

drinks['beer_servings'].mean()

106.16062176165804

In [11]:
# count the number of occurrences of each 'continent' value and see if it looks correct

drinks['continent'].value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [ ]:
# Does not look correct.  Where is NA, North America?

### Filtering and Sorting

We can use simple operator comparisons on columns to extract relevant or drop irrelevant information.

**logical filtering: only show users with age < 20**

In [ ]:
# create a Series of booleans...
young_bool = users.age < 20

In [ ]:
# ...and use that Series to filter rows
users[young_bool]

In [ ]:
# or, combine into a single step
users[users.age < 20]

In [ ]:
# select one column from the filtered results
users[users.age < 20].occupation

In [ ]:
# value_counts of resulting Series
users[users.age < 20].occupation.value_counts()

**logical filtering with multiple conditions**

In [ ]:
# ampersand for AND condition
users[(users.age < 20) & (users.gender=='M')]

In [ ]:
# pipe for OR condition
users[(users.age < 20) | (users.age > 60)]

In [ ]:
# alternative to multiple OR conditions
users[users.occupation.isin(['doctor', 'lawyer'])]

**Sorting**

In [ ]:
# sort a column
users.age.sort_values()

In [ ]:
# sort a DataFrame by a single column
users.sort_values('age')

In [ ]:
# use descending order instead
users.sort_values('age', ascending=False)

In [ ]:
# sort by multiple columns
users.sort_values(['occupation', 'age'])

### EXERCISE TWO
Use the `drinks.csv` or `drinks` dataframe from earlier to complete the following.

In [13]:
# filter DataFrame to only include European countries

drinks[drinks['continent'] == 'EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

In [15]:
# filter DataFrame to only include European countries with wine_servings > 300

drinks[(drinks['continent'] == 'EU') & (drinks['wine_servings'] > 300)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

In [16]:
# calculate the average 'beer_servings' for all of Europe

drinks[drinks['continent'] == 'EU']['beer_servings'].mean()

193.77777777777777

In [22]:
# determine which 10 countries have the highest total_litres_of_pure_alcohol
drinks[['country','total_litres_of_pure_alcohol']].sort_values(by='total_litres_of_pure_alcohol',ascending=False).head(10)

                country  total_litres_of_pure_alcohol
15              Belarus                          14.4
98            Lithuania                          12.9
3               Andorra                          12.4
68              Grenada                          11.9
45       Czech Republic                          11.8
61               France                          11.8
141  Russian Federation                          11.5
81              Ireland                          11.4
155            Slovakia                          11.4
99           Luxembourg                          11.4

### Renaming, Adding, and Removing Columns

In [ ]:
# renaming one or more columns in a single output using value mapping
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})

In [ ]:
# renaming one or more columns permanently
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)

In [ ]:
# replace all column names using a list of matching length
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent'] 

# replace during file reading
drinks = pd.read_csv('Data/drinks.csv', header=0, names=drink_cols)

In [ ]:
 # replace after file has already been read into python
drinks.columns = drink_cols

**Easy Column Operations**
Rather than having to reference indexes and creating for loops to do column wise operations, Pandas is smart and knows that when we add columns together we want to add the values in each rows together.

In [ ]:
# add a new column as a function of existing columns
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine
drinks['mL'] = drinks.liters * 1000

**Remvoing Columns

In [ ]:
# axis=0 for rows, 1 for columns
drinks.drop('mL', axis=1)

In [ ]:
 # drop multiple columns
drinks.drop(['mL', 'servings'], axis=1)

In [ ]:
# make it permanent
drinks.drop(['mL', 'servings'], axis=1, inplace=True)

### Handling Missing Values

In [ ]:
# missing values are usually excluded by default
drinks.continent.value_counts()              # excludes missing values

In [ ]:
# includes missing values
drinks.continent.value_counts(dropna=False)

In [ ]:
# find missing values in a Series
# True if missing, False if not missing
drinks.continent.isnull()

In [ ]:
# count the missing values
drinks.continent.isnull().sum()

In [ ]:
# True if not missing, False if missing
drinks.continent.notnull()

In [ ]:
# only show rows where continent is not missing
drinks[drinks.continent.notnull()]

**Understanding Pandas Axis**

In [ ]:
# sums "down" the 0 axis (rows)
drinks.sum(axis=0)

In [ ]:
# axis=0 is the default
drinks.sum()

In [ ]:
# sums "across" the 1 axis (columns)
drinks.sum(axis=1)

**Find missing values in a DataFrame**

In [ ]:
# DataFrame of booleans
drinks.isnull()

In [ ]:
# count the missing values in each column
drinks.isnull().sum()

**Dropping Missing Values**

In [ ]:
# drop a row if ANY values are missing
drinks.dropna()

In [ ]:
# drop a row only if ALL values are missing
drinks.dropna(how='all')

**Filling Missing Values**
If you noticed the continent North American, NA, does not appear in the `continent` column.  Pandas read in the original data and saw 'NA' and thought it was a missing value and converted it to a 'NaN', missing value.

In [ ]:
# fill in missing values with 'NA'
drinks.continent.fillna(value='NA')

In [ ]:
# modifies 'drinks' in-place
drinks.continent.fillna(value='NA', inplace=True)

In [ ]:
# turn off the missing value filter
drinks = pd.read_csv('Data/drinks.csv', header=0, names=drink_cols, na_filter=False)

### EXERCISE THREE

In [25]:
# read ufo.csv into a DataFrame called 'ufo'
ufo_data = '../Data/ufo.csv'
ufo = pd.read_csv(ufo_data)

In [27]:
ufo.head(1)

     City Colors Reported Shape Reported State            Time
0  Ithaca             NaN       TRIANGLE    NY  6/1/1930 22:00

In [26]:
# check the shape of the DataFrame
ufo.shape

(80543, 5)

In [32]:
# what are the three most common colors reported?
ufo['Colors Reported'].value_counts().head(3)

ORANGE    5216
RED       4809
GREEN     1897
Name: Colors Reported, dtype: int64

In [33]:
# rename any columns with spaces so that they don't contain spaces

ufo.columns = ['City', 'Colors_Reported','Shape_Reported','State','Time']

In [37]:
# for reports in VA, what's the most common city?
ufo[ufo['State'] == 'VA']['City'].value_counts().head(1)

Virginia Beach    110
Name: City, dtype: int64

In [39]:
# print a DataFrame containing only reports from Arlington, VA
ufo[(ufo['State']=='VA')&(ufo['City']=='Arlington')].head()

            City Colors_Reported Shape_Reported State              Time
202    Arlington           GREEN           OVAL    VA   7/13/1952 21:00
6300   Arlington             NaN        CHEVRON    VA    5/5/1990 21:40
10278  Arlington             NaN           DISK    VA   5/27/1997 15:30
14527  Arlington             NaN          OTHER    VA   9/10/1999 21:41
17984  Arlington             RED           DISK    VA  11/19/2000 22:00

In [41]:
# count the number of missing values in each column
ufo.isnull().sum()

City                  47
Colors_Reported    63509
Shape_Reported      8402
State                  0
Time                   0
dtype: int64

In [42]:
# how many rows remain if you drop all rows with any missing values?
ufo.dropna().shape

(15510, 5)

### Split-Apply-Combine

![](Diagram: http://i.imgur.com/yjNkiwL.png)

In [ ]:
# for each continent, calculate the mean beer servings
drinks.groupby('continent').beer.mean()

In [ ]:
# for each continent, calculate the mean of all numeric columns
drinks.groupby('continent').mean()

In [ ]:
# for each continent, describe beer servings
drinks.groupby('continent').beer.describe()

In [ ]:
# similar, but outputs a DataFrame and can be customized
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort_values('mean')

In [ ]:
# for each continent, describe all numeric columns
drinks.groupby('continent').describe()

In [ ]:
# for each continent, count the number of occurrences
drinks.groupby('continent').continent.count()
drinks.continent.value_counts()

### EXERCISE FOUR

Use the `Users` dataframe or `users` file in the Data folder to complete the following.

In [47]:
users.head(1)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711

In [48]:
# for each occupation in 'users', count the number of occurrences
users['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [49]:
# for each occupation, calculate the mean age
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [52]:
# for each occupation, calculate the minimum and maximum ages
users.groupby('occupation')['age'].agg(['min', 'max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [53]:
# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

----

### Selecting Multiple Columns and Filtering Rows

In [ ]:
# select multiple columns
my_cols = ['City', 'State']     # create a list of column names...
ufo[my_cols]                    # ...and use that list to select columns

In [ ]:
# or, combine into a single step
ufo[['City', 'State']]

**Use `loc` to select columns by name**

In [ ]:
# colon means "all rows", then select one column
ufo.loc[:, ['City', 'State']]

In [ ]:
# select two columns
ufo.loc[:, 'City']

In [ ]:
# select a range of columns
ufo.loc[:, 'City':'State']

In [ ]:
# loc can also filter rows by "name" (the index)
# row 0, all columns
ufo.loc[0, :]

In [ ]:
# rows 0/1/2, all columns
ufo.loc[0:2, :]

In [ ]:
# rows 0/1/2, range of columns
ufo.loc[0:2, 'City':'State']

In [ ]:
# use iloc to filter rows and select columns by integer position
# all rows, columns in position 0/3
ufo.iloc[:, [0, 3]]

In [ ]:
# all rows, columns in position 0/1/2/3
ufo.iloc[:, 0:4]

In [ ]:
# rows in position 0/1/2, all columns
ufo.iloc[0:3, :]

### Joining (Merging) DataFrames

In [ ]:
# read 'u.item' into 'movies'
import pandas as pd
movie_cols = ['movie_id', 'title']
u_item = 'Data/item'
movies = pd.read_table(u_item, sep='|', header=None, names=movie_cols, usecols=[0, 1])
movies.head()

In [ ]:
# read 'u.data' into 'ratings'
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
u_data = 'Data/data'
ratings = pd.read_table(u_data, sep='\t', header=None, names=rating_cols)
ratings.head()

In [ ]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
movie_ratings = pd.merge(movies, ratings)
movie_ratings.head()

In [ ]:
print movies.shape
print ratings.shape
print movie_ratings.shape

### Other Commonly User Features

In [ ]:
# map existing values to a different set of values
users['is_male'] = users.gender.map({'F':0, 'M':1})

In [ ]:
# replace all instances of a value in a column (must match entire value)
ufo.State.replace('Fl', 'FL', inplace=True)

In [ ]:
# string methods are accessed via 'str'
ufo.State.str.upper()                               # converts to uppercase
# checks for a substring
ufo['Colors Reported'].str.contains('RED', na='False')

In [ ]:
# convert a string to the datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.Time.dt.hour                        # datetime format exposes convenient attributes
(ufo.Time.max() - ufo.Time.min()).days  # also allows you to do datetime "math"

In [ ]:
# setting and then removing an index
ufo.set_index('Time', inplace=True)
ufo.reset_index(inplace=True)

In [ ]:
# change the data type of a column
drinks['beer'] = drinks.beer.astype('float')

In [ ]:
# create dummy variables for 'continent' and exclude first dummy column
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]

In [ ]:
# concatenate two DataFrames (axis=0 for rows, axis=1 for columns)
drinks = pd.concat([drinks, continent_dummies], axis=1)

## Other Less Used Features of Pandas

In [ ]:
# detecting duplicate rows
users.duplicated()          # True if a row is identical to a previous row
users.duplicated().sum()    # count of duplicates
users[users.duplicated()]   # only show duplicates
users.drop_duplicates()     # drop duplicate rows
users.age.duplicated()      # check a single column for duplicates
users.duplicated(['age', 'gender', 'zip_code']).sum()   # specify columns for finding duplicates

In [ ]:
# convert a range of values into descriptive groups
drinks['beer_level'] = 'low'    # initially set all values to 'low'
drinks.loc[drinks.beer.between(101, 200), 'beer_level'] = 'med'     # change 101-200 to 'med'
drinks.loc[drinks.beer.between(201, 400), 'beer_level'] = 'high'    # change 201-400 to 'high'

In [ ]:
# display a cross-tabulation of two Series
pd.crosstab(drinks.continent, drinks.beer_level)

In [ ]:
# convert 'beer_level' into the 'category' data type
drinks['beer_level'] = pd.Categorical(drinks.beer_level, categories=['low', 'med', 'high'])
drinks.sort_values('beer_level')   # sorts by the categorical ordering (low to high)

In [ ]:
# limit which rows are read when reading in a file
pd.read_csv('Data/drinks.csv', nrows=10)           # only read first 10 rows
pd.read_csv('Data/drinks.csv', skiprows=[1, 2])    # skip the first two rows of data

In [ ]:
# write a DataFrame out to a CSV
drinks.to_csv('drinks_updated.csv')                 # index is used as first column
drinks.to_csv('drinks_updated.csv', index=False)    # ignore index

In [ ]:
# create a DataFrame from a dictionary
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

In [ ]:
# create a DataFrame from a list of lists
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])

In [ ]:
# randomly sample a DataFrame
import numpy as np
mask = np.random.rand(len(drinks)) < 0.66   # create a Series of booleans
train = drinks[mask]                        # will contain around 66% of the rows
test = drinks[~mask]                        # will contain the remaining rows

In [ ]:
# change the maximum number of rows and columns printed ('None' means unlimited)
pd.set_option('max_rows', None)     # default is 60 rows
pd.set_option('max_columns', None)  # default is 20 columns
print drinks

In [ ]:
# reset options to defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

In [ ]:
# change the options temporarily (settings are restored when you exit the 'with' block)
with pd.option_context('max_rows', None, 'max_columns', None):
    print(drinks)